<!DOCTYPE html>
<html>
<head>
	<title>Grades</title>
	<link rel="stylesheet" type="text/css" href="../static/header-footer.css">
	<link rel="stylesheet" type="text/css" href="../static/grades-instructor.css">
</head>
<body>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
	<div class="fix">
		<div class="horizontal" id="moveable">
			<div class="spacing">
				<div class="coursecode">
					<h1>CSCB20</h1>
				</div>
				<div class="title">
					<h3>Introduction to Database and Web Applications</h3>
				</div>
			</div>
			<div class="space">
				<p>
					<a href="https://q.utoronto.ca/" target="_blank"> Quercus </a>  <a href="https://www.acorn.utoronto.ca/" target="_blank"> Acorn </a>  <a href="https://utsc.library.utoronto.ca/" target="_blank"> UTSC Library </a>  </br> <a href="https://www.utsc.utoronto.ca/cms/" target="_blank"> Faculty of Computer Science </a> </br> <a href="logout.html"> Log Out </a>
				</p>

			</div>
		</div>






		<div class="horizontal-h" id="options">
			<div class="halfheader-1">
				<div class="bar">
					<a href="index.html"  class="decoration">Home</a>
				</div>

				<div class="bar">
					<a href="syllabus.html" class="decoration">Syllabus</a>
				</div>

				<div class="bar">
					<a href="team.html" class="decoration">Team</a>
				</div>

				<div class="bar-s">
					<a href="lecture.html" class="decoration-s">Lecture/<br>Labs</a>
				</div>
			</div>
			<div class="halfheader-2">
				<div class="bar">
					<a href="assignment.html" class="decoration">Assignments</a>
				</div>

				<div class="bar">
					<a href="grades.html" class="decoration">Grades</a>
				</div>

				<div class="bar">
					<a href="https://piazza.com/class/k5l8ww7kz8l6f0" class="decoration">Piazza</a>
				</div>

				<div class="bar">
					<a href="https://markus.utsc.utoronto.ca/cscb20w20/?locale=en" class="decoration">Markus</a>
				</div>

				<div class="bar-s">
					<a href="feedback.html" class="decoration-s">Anon<br>Feedback</a>
				</div>

			</div>
		</div>

		<div>
			<br>
		</div>
	</div>


	<div>
		<h1>Grades</h1>
	</div>
	<div>
		<hr>
	</div>

<!-- html table code without table tag was taken from this link: https://stackoverflow.com/questions/33471997/how-can-i-create-a-table-without-the-regular-table-tag -->
<!-- modifications were made to satisfy the needs for the grades -->
	<div class="table">
		<div class="table-row">
			<div class="table-cell">
			</div>
			<div class="table-cell">
				Assignment 1
			</div>
			<div class="table-cell">
				Assignment 2
			</div>
			<div class="table-cell">
				Assignment 3
			</div>
			<div class="table-cell">
				Labs
			</div>
			<div class="table-cell">
				Midterm
			</div>
			<div class="table-cell">
				Final
			</div>
		</div>

		
		<div class="table-row">
			<div class="table-cell">
				Grades
			</div>
			<div class="table-cell">
				{{students['A1']}}
			</div>
			<div class="table-cell">
				{{students['A2']}}
			</div>
			<div class="table-cell">
				{{students['A3']}}
			</div>
			<div class="table-cell">
				{{students['lab']}}
			</div>
			<div class="table-cell">
				{{students['midterm']}}
			</div>
			<div class="table-cell">
				{{students['final']}}
			</div>
		</div>
		
	</div>
	<br>

	<div>
		<h1>Remark Request</h1>
	</div>
	<div>
		<hr>
	</div>


	<form method="post">
		<br>
		<div>
			<label>Which assessment is this concerning?
			</label>
			<br>
			<select name="Concern">
				<option value="Assignment 1">Assignment 1</option>
				<option value="Assignment 2">Assignment 2</option>
				<option value="Assignment 3">Assignment 3</option>
				<option value="Labs">Labs</option>
				<option value="Midterm">Midterm</option>
				<option value="Final">Final</option>
			</select>
		</div>
		<br>
		<div>
			<label>
				Please state the reason(s) for remark.
			</label>
			<br>
			<textarea name="remark">
			</textarea>
		</div>
		<br>
		<div>
			<input type="submit" name="submit">
		</div>
	</form>




	<br>
	<br>
	<div class="horizontal_and_colour" id="moveable">
		<div class="first_spacing">
			<div class="title">
				<h2>CSCB20</h2>
			</div>
			<div id="footercourse">
				<p>
					<br>Lec: M 9AM-11AM </br>
					<br>O.H.: W 11 AM - 12 PM </br>
					<br>Rm: IC 493 </br>
				</p>
			</div>

		</div>

		<div class="footertabs">
			<div>
				<a href="index.html">Home</a>
				<a href="lecture.html">Lectures</a>
				<a href=https://piazza.com/class/k5l8ww7kz8l6f0>Piazza</a>
			</div>
			<div>
				<a href="syllabus.html">Syllabus</a>
				<a href="lecture.html">Labs</a>
				<a href="https://markus.utsc.utoronto.ca/cscb20w20/?locale=en">Markus</a>
			</div>
			<div>
				<a href="team.html">Team</a>
				<a href="assignment.html">Assignments</a>
				<a href="feedback.html">Feedbacks</a>
			</div>

		</div>

		<div class="footerwebsites">
			<p>
				<a href="https://q.utoronto.ca/">Quercus</a> </br>
				<a href="https://www.acorn.utoronto.ca/">Acorn</a> </br>
				<a href="https://utsc.library.utoronto.ca/">UTSC Library</a> </br>
				<a href="https://www.utsc.utoronto.ca/cms/">Faculty of Computer Science</a>
			</p>
		</div>

	</div>



</body>
</html>
