<!DOCTYPE html>
<html>
<head>
	<title>Lecture</title>
	<link rel="stylesheet" type="text/css" href="../static/header-footer.css">
	<link rel="stylesheet" type="text/css" href="../static/lecture.css">
</head>
<body>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
	<div class="fix">
		<div class="horizontal" id="moveable">
			<div class="spacing">
				<div class="coursecode">
					<h1>CSCB20</h1>
				</div>
				<div class="title">
					<h3>Introduction to Database and Web Applications</h3>
				</div>
			</div>
			<div class="space">
				<p>
					<a href="https://q.utoronto.ca/" target="_blank"> Quercus </a>  <a href="https://www.acorn.utoronto.ca/" target="_blank"> Acorn </a>  <a href="https://utsc.library.utoronto.ca/" target="_blank"> UTSC Library </a>  </br> <a href="https://www.utsc.utoronto.ca/cms/" target="_blank"> Faculty of Computer Science </a> </br> <a href="logout.html"> Log Out </a>
				</p>

			</div>
		</div>






		<div class="horizontal-h" id="options">
			<div class="halfheader-1">
				<div class="bar">
					<a href="index.html"  class="decoration">Home</a>
				</div>

				<div class="bar">
					<a href="syllabus.html" class="decoration">Syllabus</a>
				</div>

				<div class="bar">
					<a href="team.html" class="decoration">Team</a>
				</div>

				<div class="bar-s">
					<a href="lecture.html" class="decoration-s">Lecture/<br>Labs</a>
				</div>
			</div>
			<div class="halfheader-2">
				<div class="bar">
					<a href="assignment.html" class="decoration">Assignments</a>
				</div>

				<div class="bar">
					<a href="grades.html" class="decoration">Grades</a>
				</div>

				<div class="bar">
					<a href="https://piazza.com/class/k5l8ww7kz8l6f0" class="decoration">Piazza</a>
				</div>

				<div class="bar">
					<a href="https://markus.utsc.utoronto.ca/cscb20w20/?locale=en" class="decoration">Markus</a>
				</div>

				<div class="bar-s">
					<a href="feedback.html" class="decoration-s">Anon<br>Feedback</a>
				</div>

			</div>
		</div>

		<div>
			<br>
		</div>
	</div>


	<div>
		<div class="resourcesname">
			<h1>
				Resources
			</h1>
		</div>
		<div>
			<hr>
		</div>
		<div>
			<p>
				<ul>
					<li> A basic tutorial on MySQL: <a href="http://www.mysqltutorial.orgs" target="_blank"> mysqltutorial </a> </li>

					<li>To connect to UTSC lab computers using SSH with UTORID@mathlab.utsc.utoronto.ca</li>
				</ul>

			</p>
		</div>
	</div>

	<div>
		<div>
			<h1>
				Lectures
			</h1>
		</div>
		<div>
			<hr>
		</div>
	</div>

	<div class="spaces" id="big">
		<div>
			<div class="horizontals">
				<div class="box">
					<div class="spacing">
						<h2>Week 1</h2>
						<h3>January 6th, 2020</h3>
						<hr>
					</div>
					<p align="center">Introduction - Syllabus, Readings and Citations <br> <a href="../static/lecture_notes.pdf">PRESS HERE FOR WEEK 1 LECTURE NOTES</a> <br> <a href="../static/lecture_notes.pdf">PRESS HERE FOR WEEK 1 LAB NOTES</a></p>


				</div>
				<div class="box">
					<div class="spacing">
						<h2>Week 2</h2>
						<h3>January 13th, 2020</h3>
						<hr>
					</div>
					<p align="center">Relational - Diagrams, Operations, Algebra <br> <a href="../static/lecture_notes.pdf">PRESS HERE FOR WEEK 2 LECTURE NOTES</a> <br> <a href="../static/lecture_notes.pdf">PRESS HERE FOR WEEK 2 LAB NOTES</a></p>

				</div>
			</div>

			<div class="horizontals">
				<div class="box">
					<div class="spacing">
						<h2>Week 3</h2>
						<h3>January 20th, 2020</h3>
						<hr>
					</div>
					<p align="center">Wrapping up Relational Algebra and starting with SQL queries <br> <a href="../static/lecture_notes.pdf">PRESS HERE FOR WEEK 3 LECTURE NOTES</a> <br> <a href="../static/lecture_notes.pdf">PRESS HERE FOR WEEK 3 LAB NOTES</a></p>

				</div>
				<div class="box">
					<div class="spacing">
						<h2>Week 4</h2>
						<h3>January 27th, 2020</h3>
						<hr>
					</div>
					<p align="center">SQL queries - Syntax, Operations <br> <a href="../static/lecture_notes.pdf">PRESS HERE FOR WEEK 4 LECTURE NOTES</a> <br> <a href="../static/lecture_notes.pdf">PRESS HERE FOR WEEK 4 LAB NOTES</a></p>

				</div>
			</div>

			<div class="horizontals">
				<div class="box">
					<div class="spacing">
						<h2>Week 5</h2>
						<h3>February 3rd, 2020</h3>
						<hr>
					</div>
					<p align="center">Introduction to Web development - Flask <br> <a href="../static/lecture_notes.pdf">PRESS HERE FOR WEEK 5 LECTURE NOTES</a> <br> <a href="../static/lecture_notes.pdf">PRESS HERE FOR WEEK 5 LAB NOTES</a></p>

				</div>
				<div class="box">
					<div class="spacing">
						<h2>Week 6</h2>
						<h3>February 10th, 2020</h3>
						<hr>
					</div>
					<p align="center">No Lecture Due to Midterm </p>

				</div>
			</div>
		</div>
		<div>
			<div class="horizontals">
				<div class="box">

					<div class="spacing">
						<h2>Week 7</h2>
						<h4>February 17th, 2020</h4>
						<hr>
					</div>
					<p align="center">No Lecture Due to Reading Week</p>

				</div>
				<div class="box">
					<div class="spacing">
						<h2>Week 8</h2>
						<h3>February 24th, 2020</h3>
						<hr>
					</div>
					<p align="center">Introduction to HTML and CSS - Syntax <br> <a href="../static/lecture_notes.pdf">PRESS HERE FOR WEEK 8 LECTURE NOTES</a> <br> <a href="../static/lecture_notes.pdf">PRESS HERE FOR WEEK 8 LAB NOTES</a></p>

				</div>
			</div>

			<div class="horizontals">
				<div class="box">
					<div class="spacing">
						<h2>Week 9</h2>
						<h3>March 2nd, 2020</h3>
						<hr>
					</div>
					<p align="center">Flexbox in CSS, Media Queries, and Introduction to JavaScript <br> <a href="../static/lecture_notes.pdf">PRESS HERE FOR WEEK 9 LECTURE NOTES</a> <br> <a href="../static/lecture_notes.pdf">PRESS HERE FOR WEEK 9 LAB NOTES</a></p>

				</div>
				<div class="box">
					<div class="spacing">
						<h2>Week 10</h2>
						<h3>March 9th, 2020</h3>
						<hr>
					</div>
					<p align="center">JavaScript and Introduction to JQuery <br> <a href="../static/lecture_notes.pdf">PRESS HERE FOR WEEK 10 LECTURE NOTES</a> <br> <a href="../static/lecture_notes.pdf">PRESS HERE FOR WEEK 10 LAB NOTES</a></p>

				</div>
			</div>

			<div class="horizontals">
				<div class="box">
					<div class="spacing">
						<h2>Week 11</h2>
						<h3>March 16th, 2020</h3>
						<hr>

					</div>
					<p align="center">Wrapping up JavaScript and JQuery, and revisiting Flask <br> <a href="../static/lecture_notes.pdf">PRESS HERE FOR WEEK 11 LECTURE NOTES</a> <br> <a href="../static/lecture_notes.pdf">PRESS HERE FOR WEEK 11 LAB NOTES</a></p>

				</div>
			</div>
		</div>
	</div>

	<div class="horizontal_and_colour" id="moveable">
		<div class="first_spacing">
			<div class="title">
				<h2>CSCB20</h2>
			</div>
			<div id="footercourse">
				<p>
					<br>Lec: M 9AM-11AM </br>
					<br>O.H.: W 11 AM - 12 PM </br>
					<br>Rm: IC 493 </br>
				</p>
			</div>

		</div>

		<div class="footertabs">
			<div>
				<a href="index.html">Home</a>
				<a href="lecture.html">Lectures</a>
				<a href=https://piazza.com/class/k5l8ww7kz8l6f0>Piazza</a>
			</div>
			<div>
				<a href="syllabus.html">Syllabus</a>
				<a href="lecture.html">Labs</a>
				<a href="https://markus.utsc.utoronto.ca/cscb20w20/?locale=en">Markus</a>
			</div>
			<div>
				<a href="team.html">Team</a>
				<a href="assignment.html">Assignments</a>
				<a href="feedback.html">Feedbacks</a>
			</div>

		</div>

		<div class="footerwebsites">
			<p>
				<a href="https://q.utoronto.ca/">Quercus</a> </br>
				<a href="https://www.acorn.utoronto.ca/">Acorn</a> </br>
				<a href="https://utsc.library.utoronto.ca/">UTSC Library</a> </br>
				<a href="https://www.utsc.utoronto.ca/cms/">Faculty of Computer Science</a>
			</p>
		</div>

	</div>





</body>
</html>
