<!DOCTYPE html>
<html>
<head>
	<title>Syllabus</title>
	<link rel="stylesheet" type="text/css" href="../static/header-footer.css">
	<link rel="stylesheet" type="text/css" href="../static/syllabus.css">
</head>
<body>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
	<div class="fix">
		<div class="horizontal" id="moveable">
			<div class="spacing">
				<div class="coursecode">
					<h1>CSCB20</h1>
				</div>
				<div class="title">
					<h3>Introduction to Database and Web Applications</h3>
				</div>
			</div>
			<div class="space">
				<p>
					<a href="https://q.utoronto.ca/" target="_blank"> Quercus </a>  <a href="https://www.acorn.utoronto.ca/" target="_blank"> Acorn </a>  <a href="https://utsc.library.utoronto.ca/" target="_blank"> UTSC Library </a>  </br> <a href="https://www.utsc.utoronto.ca/cms/" target="_blank"> Faculty of Computer Science </a> </br> <a href="logout.html"> Log Out </a>
				</p>

			</div>
		</div>






		<div class="horizontal-h" id="options">
			<div class="halfheader-1">
				<div class="bar">
					<a href="index.html"  class="decoration">Home</a>
				</div>

				<div class="bar">
					<a href="syllabus.html" class="decoration">Syllabus</a>
				</div>

				<div class="bar">
					<a href="team.html" class="decoration">Team</a>
				</div>

				<div class="bar-s">
					<a href="lecture.html" class="decoration-s">Lecture/<br>Labs</a>
				</div>
			</div>
			<div class="halfheader-2">
				<div class="bar">
					<a href="assignment.html" class="decoration">Assignments</a>
				</div>

				<div class="bar">
					<a href="grades.html" class="decoration">Grades</a>
				</div>

				<div class="bar">
					<a href="https://piazza.com/class/k5l8ww7kz8l6f0" class="decoration">Piazza</a>
				</div>

				<div class="bar">
					<a href="https://markus.utsc.utoronto.ca/cscb20w20/?locale=en" class="decoration">Markus</a>
				</div>

				<div class="bar-s">
					<a href="feedback.html" class="decoration-s">Anon<br>Feedback</a>
				</div>

			</div>
		</div>

		<div>
			<br>
		</div>
	</div>


	<div class="syllabusname">
		<h1>Syllabus</h1>
	</div>
	<div> <hr> </div>

	<div class="cell">
		<div class="bars_title" id="margin">
			<h3>
				Overview
			</h3>
		</div>
		<div class="bars" id="margin">
			<p align="center">
				A  practical  introduction  to  databases  and  Web  app  development.   Databases:  terminology  and  applications;  cre-ating,  querying  and  updating  databases;  the  entity-relationship  model  for  database  design.   Web  documents  andapplications:  static and interactive documents; Web servers and dynamic server-generated content; Web application development and interface with databases.
			</p>
		</div>
	</div>

	<div class="cell">
		<div class="bars_title" id="req">
			<h3>
				Requirements
			</h3>
		</div>
		<div class="bars" id="req">
			<p align="left">
				<strong>Prerequisite:</strong> Some experience with programming in an inperative language such as Python, Java, or C. </br>
				<strong>Exclusion:</strong> This course may not be taken after - or concurrently with - any C- or D-level CSC course. </br>
				<strong>Recommended Preparation:</strong> CSCA08H3 or CSCA20H3 </br>
				<strong>Breadth Requirements:</strong> Quantitative Reasoning  </br>
			</p>
		</div>
	</div>

	<div class="cell">
		<div class="bars_title">
			<h3>
				Evaluation
			</h3>
		</div>
		<div class="bars">
			<p align="center">
				A  practical  introduction  to  databases  and  Web  app  development.   Databases:  terminology  and  applications;  cre-ating,  querying  and  updating  databases;  the  entity-relationship  model  for  database  design.   Web  documents  andapplications:  static and interactive documents; Web servers and dynamic server-generated content; Web applicationdevelopment and interface with databases.
			</p>
		</div>
	</div>

	<div class="cell">
		<div class="bars_title">
			<h3>
				Getting Help
			</h3>
		</div>
		<div class="bars">
			<p align="center">
				Besides attending lectures, there are several ways to get help in CSCB20:
			</p>
			<p>
				<strong>Tutorials: </strong>Tutorials are a great wat for you to get some hands on practice at programming.</br>
				<strong>Office Hours:</strong> Stop by the office hours to ask questions or to hear questions asked by other students. This is a great way to learn.</br>
				<strong>Discussion Board:</strong> Piazza - please make use of your classmates and instructors who will monitor the discussion board and help answer your questions.</br>
				<strong>Email:</strong> If you are having trouble with the course material or if you need extra help, please do not hestitate to contact me. I will anwser as soon as possible.</br>
			</p>
		</div>
	</div>

	<div class="cell">
		<div class="bars_title" id="req">
			<h3>
				Academic Offenses
			</h3>
		</div>
		<div class="bars" id="req">
			<p align="center">
				All of the work you submit must be your own and your work must not be submitted by someone else. Plagiarism is academic fraud and is taken seriously. Please read the Rules and Regulations from the U of T Calendar (especially the code of Behaviour on Academic Matters).
			</p>
		</div>
	</div>

	<div class="cell">
		<div class="bars_title" id="req">
			<h3>
				Accessibility
			</h3>
		</div>
		<div class="bars" id="req">
			<p align="center">
				The University of Toronto is committed to accessibility. If you require accomodations for a disability, or have any accessibilty concerns about the course, the classroom or course materials, please contact Accessibility Services as soon as possible: <a href="disability.services@utoronto.ca">disability.services@utoronto.ca</a> or <a href="http://www.utsc.utoronto.ca/~ability/">http://www.utsc.utoronto.ca/~ability/</a>
			</p>
		</div>
	</div>


</div>



<div class="horizontal_and_colour" id="moveable">
	<div class="first_spacing">
		<div class="title">
			<h2>CSCB20</h2>
		</div>
		<div class="footercourse", id="spacing">
			<p>
				<br>Lec: M 9AM-11AM </br>
				<br>O.H.: W 11 AM - 12 PM </br>
				<br>Rm: IC 493 </br>
			</p>
		</div>

	</div>

	<div class="footertabs">
		<div>
			<a href="index.html">Home</a>
			<a href="lecture.html">Lectures</a>
			<a href=https://piazza.com/class/k5l8ww7kz8l6f0>Piazza</a>
		</div>
		<div>
			<a href="syllabus.html">Syllabus</a>
			<a href="lecture.html">Labs</a>
			<a href="https://markus.utsc.utoronto.ca/cscb20w20/?locale=en">Markus</a>
		</div>
		<div>
			<a href="team.html">Team</a>
			<a href="assignment.html">Assignments</a>
			<a href="feedback.html">Feedbacks</a>
		</div>

	</div>

	<div class="footerwebsites">
		<p>
			<a href="https://q.utoronto.ca/">Quercus</a> </br>
			<a href="https://www.acorn.utoronto.ca/">Acorn</a> </br>
			<a href="https://utsc.library.utoronto.ca/">UTSC Library</a> </br>
			<a href="https://www.utsc.utoronto.ca/cms/">Faculty of Computer Science</a>
		</p>
	</div>

</div>


</body>
</html>
