<!DOCTYPE html>
<html>
<head>
	<title>Team</title>
	<link rel="stylesheet" type="text/css" href="../static/header-footer.css">
	<link rel="stylesheet" type="text/css" href="../static/team.css">
</head>
<body>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
	<div class="fix">
		<div class="horizontal" id="moveable">
			<div class="spacing">
				<div class="coursecode">
					<h1>CSCB20</h1>
				</div>
				<div class="title">
					<h3>Introduction to Database and Web Applications</h3>
				</div>
			</div>
			<div class="space">
				<p>
					<a href="https://q.utoronto.ca/" target="_blank"> Quercus </a>  <a href="https://www.acorn.utoronto.ca/" target="_blank"> Acorn </a>  <a href="https://utsc.library.utoronto.ca/" target="_blank"> UTSC Library </a>  </br> <a href="https://www.utsc.utoronto.ca/cms/" target="_blank"> Faculty of Computer Science </a> </br> <a href="logout.html"> Log Out </a>
				</p>

			</div>
		</div>






		<div class="horizontal-h" id="options">
			<div class="halfheader-1">
				<div class="bar">
					<a href="index.html"  class="decoration">Home</a>
				</div>

				<div class="bar">
					<a href="syllabus.html" class="decoration">Syllabus</a>
				</div>

				<div class="bar">
					<a href="team.html" class="decoration">Team</a>
				</div>

				<div class="bar-s">
					<a href="lecture.html" class="decoration-s">Lecture/<br>Labs</a>
				</div>
			</div>
			<div class="halfheader-2">
				<div class="bar">
					<a href="assignment.html" class="decoration">Assignments</a>
				</div>

				<div class="bar">
					<a href="grades.html" class="decoration">Grades</a>
				</div>

				<div class="bar">
					<a href="https://piazza.com/class/k5l8ww7kz8l6f0" class="decoration">Piazza</a>
				</div>

				<div class="bar">
					<a href="https://markus.utsc.utoronto.ca/cscb20w20/?locale=en" class="decoration">Markus</a>
				</div>

				<div class="bar-s">
					<a href="feedback.html" class="decoration-s">Anon<br>Feedback</a>
				</div>

			</div>
		</div>

		<div>
			<br>
		</div>
	</div>



	<div>
		<div class="instructorname">
			<br>
			<h1>
				Instructor
			</h1>
		</div>
		<div>
			<hr>
		</div>
		<div  class="picture">
			<div>
				<img src="../static/profile.png">
			</div>
			<div class="information">
				<p>
					Dr. Anna Bretscher <br>
					Email: bretscher@utsc.utoronto.ca <br>
					Phone: (416) 208-4745 <br>
					Office: IC493 <br>
					Office Hours: W 11:00-12:00<br>

				</p>
			</div>
		</div>
	</div>

	<div>
		<div>
			<h1>
				Teaching Assistants
			</h1>
		</div>
		<div>
			<hr>
		</div>
	</div>

	<div>
		<div class="picture">
			<div class="picture">
				<div>
					<img src="../static/profile.png">
				</div>
				<div class="information">
					<p>
						Vidya Ananda <br>
						Email: firstname.lastname@utsc.utoronto.ca <br>
						Office: IC493 <br>
						Office Hours: weekdays<br>

					</p>
				</div>
			</div>
			<div class="picture">
				<div>
					<img src="../static/profile.png">
				</div>
				<div class="information">
					<p>
						Sakina Gadriwala <br>
						Email: firstname.lastname@utsc.utoronto.ca <br>
						Office: IC493 <br>
						Office Hours: weekdays<br>

					</p>
				</div>

			</div>
		</div>


		<div class="picture">
			<div class="picture">
				<div>
					<img src="../static/profile.png">
				</div>
				<div class="information">
					<p>
						Briam Lam <br>
						Email: firstname.lastname@utsc.utoronto.ca <br>
						Office: IC493 <br>
						Office Hours: weekdays<br>

					</p>
				</div>
			</div>
			<div class="picture">
				<div>
					<img src="../static/profile.png">
				</div>
				<div class="information">
					<p>
						Frederic Pun <br>
						Email: firstname.lastname@utsc.utoronto.ca <br>
						Office: IC493 <br>
						Office Hours: weekdays<br>

					</p>
				</div>

			</div>
		</div>

		<div class="picture">
			<div class="picture">
				<div>
					<img src="../static/profile.png">
				</div>
				<div class="information">
					<p>
						Dharmik Shah <br>
						Email: firstname.lastname@utsc.utoronto.ca <br>
						Office: IC493 <br>
						Office Hours: weekdays<br>

					</p>
				</div>
			</div>
			<div class="picture">
				<div>
					<img src="../static/profile.png">
				</div>
				<div class="information">
					<p>
						Kevin Zhang <br>
						Email: firstname.lastname@utsc.utoronto.ca <br>
						Office: IC493 <br>
						Office Hours: weekdays<br>

					</p>
				</div>

			</div>
		</div>

	</div>

	<div class="horizontal_and_colour" id="moveable">
		<div class="first_spacing">
			<div class="title">
				<h2>CSCB20</h2>
			</div>
			<div id="footercourse">
				<p>
					<br>Lec: M 9AM-11AM </br>
					<br>O.H.: W 11 AM - 12 PM </br>
					<br>Rm: IC 493 </br>
				</p>
			</div>

		</div>

		<div class="footertabs">
			<div>
				<a href="index.html">Home</a>
				<a href="lecture.html">Lectures</a>
				<a href=https://piazza.com/class/k5l8ww7kz8l6f0>Piazza</a>
			</div>
			<div>
				<a href="syllabus.html">Syllabus</a>
				<a href="lecture.html">Labs</a>
				<a href="https://markus.utsc.utoronto.ca/cscb20w20/?locale=en">Markus</a>
			</div>
			<div>
				<a href="team.html">Team</a>
				<a href="assignment.html">Assignments</a>
				<a href="feedback.html">Feedbacks</a>
			</div>

		</div>

		<div  class="footerwebsites">
			<p>
				<a href="https://q.utoronto.ca/">Quercus</a> </br>
				<a href="https://www.acorn.utoronto.ca/">Acorn</a> </br>
				<a href="https://utsc.library.utoronto.ca/">UTSC Library</a> </br>
				<a href="https://www.utsc.utoronto.ca/cms/">Faculty of Computer Science</a>
			</p>
		</div>

	</div>





</body>
</html>
